#
#Monero wallet RPC config file. Docs: https://docs.getmonero.org/interacting/monero-wallet-rpc-reference/
#
wallet-dir=MONERO_WALLET_DIR

log-file=MONERO_WALLET_RPC_LOG
max-log-file-size=10000000 #10MiB
max-log-files=2

trusted-daemon=1
daemon-port=MONERO_RPC_PORT_RESTRICTED
#daemon-ssl-certificate=MONERO_RPC_CERT_FILE

confirm-external-bind=1
rpc-bind-ip=MONEROD_BIND_IP
rpc-bind-port=MONERO_RPC_PORT_WALLET_RPC
