#
#Monero wallet RPC config file. Docs: https://getmonero.dev/docs/interacting/monero-wallet-rpc-reference
#
trusted-daemon 1
daemon-login RPC_USERNAME:RPC_PASSWORD

daemon-port MONERO_RPC_PORT

confirm-external-bind 1
rpc-bind-ip MONEROD_BIND_IP
rpc-bind-port MONERO_RPC_PORT_WALLET_RPC
rpc-login RPC_WALLET_USERNAME:RPC_WALLET_PASSWORD

wallet-dir MONERO_WALLET_DIR

log-file MONERO_WALLET_RPC_LOG
max-log-file-size 10000000 #10MiB
max-log-files 2
